<h1>Listing pesos</h1>

<table>
  <tr>
    <th>Peso</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pesos.each do |peso| %>
  <tr>
    <td><%= peso.peso %></td>
    <td><%= peso.date %></td>
    <td><%= link_to 'Show', peso %></td>
    <td><%= link_to 'Edit', edit_peso_path(peso) %></td>
    <td><%= link_to 'Destroy', peso, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<div id='graphics'></div>
<script type="text/javascript">
    window.onload = function () {
      var r = Raphael('graphics'), 
          fin = function () {
                        this.flag = r.popup(this.bar.x, this.bar.y, this.bar.value || "0").insertBefore(this);
                            },
          fout = function () {
              this.flag.animate({opacity: 0}, 300, function () {this.remove();});
          };
      pie = r.barchart(10, 10, 500, 300,
                        [[<%= @pesos_graph %>]], 
                        {
                          type : 'soft', 
                          stacked : true, 
                        }).hover(fin, fout);
    }
</script>
<br />
<%= link_to 'New Peso', new_peso_path %>
